# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Build
dist/
build/

# Vite
apps/frontend/dist/

# Prisma
dev.db
*.db

# OS
.DS_Store
Thumbs.db
